@import 'assets/styles/variables';
@import 'assets/styles/mixin';

.main-secondary-skills {
  @include flexColumnWrap(24px, center, flex-start);
  width: 75%;
  margin: 0 auto;
  padding: 12px 24px;
  border: 2px solid $cyan600;
  border-radius: 24px;
  background-color: rgba($color: $cyan600, $alpha: 0.2);
  transition: $transition;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
  }

  &:hover {
    scale: 1.01;
    box-shadow: $shadow;
  }

  &__info {
    @include flexRowNoWrap(8px);

    &:hover {
      filter: drop-shadow(0 0 4px $beige3);
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-title {
      @include fontSemibold(24px, 32px);
      color: $secondary-hover;

      @media screen and (max-width: 500px) {
        @include fontSemibold(20px, 28px);
      }
    }
  }

  &__list {
    @include flexRowWrap(16px, flex-start, center);
    padding: 8px 0;
    width: 100%;

    @media screen and (max-width: 850px) {
      @include flexColumnNoWrap(16px, flex-start, center);
    }

    &-item {
      width: 30%;
      margin: 0 auto;
      @include flexColumnWrap(8px, center, flex-start);

      @media screen and (max-width: 850px) {
        width: 100%;
      }

      .skills-group {
        @include flexRowNoWrap(4px);

        &:hover {
          filter: drop-shadow(0 0 4px $beige3);
        }

        &__icon {
          width: 18px;
          height: 18px;
        }

        &__title {
          @include fontSemibold(20px, 28px);
          color: $secondary-hover;

          @media screen and (max-width: 500px) {
            @include fontSemibold(16px, 22px);
          }
        }

        &__list {
          @include flexRowWrap(4px, center, center);
        }
      }
    }
  }
}
