@import 'assets/styles/variables';
@import 'assets/styles/mixin';

.other-skills {
  @include flexColumnWrap(24px, center, flex-start);
  width: 95%;
  margin: 0 auto;
  padding: 12px 24px;
  border: 2px solid $cyan500;
  border-radius: 24px;
  background-color: rgba($color: $cyan500, $alpha: 0.2);
  transition: $transition;

  @media screen and (max-width: 500px) {
    width: 98%;
  }
  
  &:hover {
    scale: 1.01;
    box-shadow: $shadow;
  }

  &__info {
    @include flexRowNoWrap(8px);

    &:hover {
      filter: drop-shadow(0 0 4px $beige3);
    }

    &-icon {
      width: 24px;
      height: 24px;
    }

    &-title {
      @include fontSemibold(24px, 32px);
      color: $secondary-hover;

      @media screen and (max-width: 500px) {
        @include fontSemibold(20px, 28px);
      }
    }
  }

  &__list {
    @include flexRowWrap(4px, center, center);
  }
}
