@import 'assets/styles/variables';
@import 'assets/styles/mixin';

.form-textarea {
  @include flexColumnNoWrap(6px, flex-start, flex-start);
  position: relative;
  width: 100%;

  &__label {
    @include fontRegular(14px, 21px);
    color: $secondary;
    width: 100%;

    &.label-error {
      color: $warning;
    }
  }

  &__input {
    @include fontRegular(16px, 24px);
    color: $dark-grey;
    text-overflow: ellipsis;
    width: 100%;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid $primary;
    background-color: transparent;
    outline: none;

    &-wrapper {
      position: relative;
      width: 100%;
      height: fit-content;
      overflow: hidden;
      z-index: 1;
      transition: $transition;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px transparent inset !important;
      transition: background-color 5000s ease-in-out 0s;
      color: $dark-grey !important;
    }

    &::placeholder {
      @include fontRegular(16px, 24px);
      color: $light-grey;
    }

    &:hover {
      border-width: 1.5px;
      padding: 11.5px 23.5px;
    }

    &:focus,
    &:active {
      color: $dark-grey;
      background-color: transparent;
      border-color: $primary-hover;
    }

    &.input-error {
      border-width: 1px;
      padding: 12px 24px;
      color: $warning;
      border-color: $warning;
      background-color: transparent;

      &:hover {
        color: $warning;
        border-color: $warning;
        background-color: transparent;
      }

      &:focus,
      &:active {
        color: $dark-grey;
        border-color: $warning;
        background-color: transparent;
      }
    }
  }
}
