@import 'assets/styles/variables';
@import 'assets/styles/mixin';

.welcome-page {
  @include flexRowNoWrap(0, center, space-between);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  @include scroll;
  background-image: -webkit-linear-gradient(-24deg, transparent 44.5%, $primary 44.5%);
  position: relative;

  @media screen and (max-width: 768px) {
    @include flexColumnNoWrap(0, center, center);
    height: 100%;
    min-height: 100vh;
    background-image: -webkit-linear-gradient(35deg, transparent 45%, $primary 50%);
  }

  .block1 {
    content: '';
    position: absolute;
    width: 80px;
    height: 70%;
    background-color: $block1;
    bottom: 0;
    left: 38%;
    transform: matrix(1, 0, -0.445, 1, 0, 0);

    @media screen and (max-width: 950px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      height: 30%;
      display: block;
      right: 1%;
      left: auto;
      bottom: 15%;
      transform: matrix(1, 0, 0.73, 1, 0, 0);
    }

    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  .block2 {
    position: absolute;
    width: 80px;
    height: 50%;
    background-color: $block2;
    bottom: 0;
    left: 42%;
    transform: matrix(1, 0, -0.445, 1, 0, 0);

    @media screen and (max-width: 768px) {
      height: 30%;
      right: 1%;
      left: auto;
      bottom: 30%;
      transform: matrix(1, 0, 0.73, 1, 0, 0);
    }

    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  .block3 {
    position: absolute;
    width: 80px;
    height: 30%;
    background-color: $block3;
    bottom: 0;
    left: 46%;
    transform: matrix(1, 0, -0.445, 1, 0, 0);

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .bg-author {
    bottom: 0;
    left: 0;
  }

  &__photo {
    overflow: hidden;
    border: 5px solid $secondary;
    border-radius: 4px;

    @media screen and (max-width: 768px) {
      align-self: flex-start;
      border-color: $block3;
    }

    @media screen and (max-width: 520px) {
      align-self: center;
    }
  }

  &__img {
    object-fit: cover;
    width: 380px;
    height: auto;

    @media screen and (max-width: 1024px) {
      width: 340px;
    }
  }

  &__figure {
    margin-bottom: auto;
    margin-top: auto;
    padding: 0 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 104px;
      height: 68px;
      background-color: $secondary;
      z-index: 1;
      top: 50%;
      right: -104px;
      transform: translateY(-50%) matrix(1, 0, -0.445, 1, 0, 0);
    }
  }

  &__quote {
    &-text {
      @include fontMedium(14px, 20px);
      font-style: italic;
      color: $white;
      text-align: right;
    }

    &-author {
      @include fontMedium(14px, 20px);
      color: $white;
      text-align: right;
      margin-top: 8px;
      margin-right: 16px;
    }
  }

  &__container {
    width: 50%;
    height: 100%;
    @include flexColumnNoWrap(16px, flex-end, flex-start);
    padding: 80px;
    gap: 16px;
    z-index: 1;

    @media screen and (max-width: 1200px) {
      padding: 64px 32px;
    }

    @media screen and (max-width: 1024px) {
      padding: 40px 32px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      gap: 32px;
    }

    &--left {
      @include flexColumnNoWrap(16px, flex-start, flex-start);
    }
  }

  &__title {
    @include fontSemibold(36px, 48px);
    text-align: right;
    color: $secondary;

    &--highlighted {
      color: $white;
    }

    @media screen and (max-width: 768px) {
      @include fontSemibold(32px, 40px);
      text-align: center;
      align-self: center;
    }

    @media screen and (max-width: 520px) {
      @include fontSemibold(30px, 38px);
    }
  }

  &__subtitle {
    @include fontMedium(20px, 28px);
    text-align: right;
    color: $secondary;
    max-width: 400px;

    @media screen and (max-width: 768px) {
      text-align: center;
      align-self: center;
    }

    @media screen and (max-width: 520px) {
      @include fontMedium(18px, 24px);
    }
  }

  .button.xl.secondary {
    @media screen and (max-width: 520px) {
      align-self: center;
    }
  }
}
